footer{      
    text-align: center;   
    background-image: linear-gradient(to right, white, rgb(187, 154, 154));     
    h5{        
        color: $colorletra; 
        font-family: $tipoLetra;
        font-size: 15px;
        font-weight: bold;
    }    
}